<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% if(files) { %>
      <div class="carousel-item active">
        <form action="/dashboard/<%= renderedPage %>/getCarausalImages/images/<%= files[0]._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger minus-btn">DELETE</button>
        </form>
        <img src="/dashboard/<%= renderedPage %>/getCarausalImages/images/<%= files[0].filename %>" class="d-block w-100 car-img" alt="carausal-image">
      </div>
      <% files.forEach(function(file,index){ %>
      <% if(index != 0) { %>
      <div class="carousel-item">
        <form action="/dashboard/<%= renderedPage %>/getCarausalImages/images/<%= file._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger minus-btn">Delete</button>
        </form>
        <img src="/dashboard/<%= renderedPage %>/getCarausalImages/images/<%= file.filename %>" class="d-block w-100 car-img" alt="carausal-image">
      </div>
      <% } %>
      <% }) %>
      <% } %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
