<!-- Header ejs -->
<%- include("./partials/allumni-tabs",{headerTitle:'ALLUMNI MEMBERS'}) %>
<br><br>
<%- include("./partials/notes/cardNotes") %>
<hr>
<div class="container">
  <div class="row">
    <%- include("./partials/searchBar",{searchId: 'search'}) %>
    <br>
    <%- include("./partials/dropdown",{title:'Sort By'}); %>
  </div>
</div> 

<br>
<div class="container">
  <div class="container w-25 sticky-top">
    <%- include ("./partials/messages") %>
  </div>

  <div id='image-cards-container' class="row row-cols-1 row-cols-md-3">
    <% if(files) { %>
    <% files.forEach(function(file) {  %>
      <form action="/dashboard/allumni-research-scholars/deleteCardData" method="post" enctype="multipart/form-data">
        <%- include("./partials/card",{file:file,renderedPage:'/allumni-research-scholars'})%>
      </form>
    <% }) %>
    <% } else { %>
    <p> No files to show </p>
    <% } %>

  </div>

  <div class="col mb-4">
    <div class="card h-100">
      <form id="cardImageUploadForm" class="" action="/dashboard/allumni-research-scholars/uploadCardData" method="post" enctype="multipart/form-data">
        <%- include("./partials/posts/uploadCardData")%>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <form class="item" action="/dashboard/allumni-research-scholars/edit" method="post">
    <%- include("./partials/posts/cardEdit") %>
  </form>
</div>
