<!-- Header ejs -->
<%- include("./partials/tabs",{headerTitle:'CURRENT MEMBERS'}) %>
<br><br>
<%- include("./partials/notes/cardNotes") %>
<hr>
<div class="container">
  <div class="container w-25 sticky-top">
    <%- include ("./partials/messages") %>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <% if(files) { %>
    <% files.forEach(function(file) {  %>
    <%- include("./partials/card",{file:file,renderedPage:'/cm-project-fellow'})%>
    <% }) %>
    <% } else { %>
    <p> No files to show </p>
    <% } %>


    <div class="col mb-4">
      <div class="card h-100">
        <form id="cardImageUploadForm" class="" action="/dashboard/cm-project-fellow/uploadCardImages" method="post" enctype="multipart/form-data">
          <%- include("./partials/posts/uploadCardImages")%>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <form class="item" action="/dashboard/cm-project-fellow/edit" method="post">
      <%- include("./partials/posts/cardEdit") %>
    </form>

  </div>
</div>
