<!-- Header ejs -->
<%- include('./partials/header',{headerTitle:'CONTACTS'})%>

<br><br><br><br><br>


<%- include("./partials/notes/noteDetails"); %>

<br>

<div class="container">
  <div class="all-posts-container">
    <% if(newItems) { %>

      <% newItems.forEach((item, i) => { %>
    
      <form class="item" action="/dashboard/contacts/delete" method="post">
    
        <%- include("./partials/posts/delete",{item:item}); %>
    
      </form>
    
      <% }); %>
      <% } else { %>
        <div class="container text-center">
          <h5>No notes to show. Enter subject and details to show up on the screen.</h5>
        </div>
      <% } %>
  </div>

        <!-- Modal -->
        <form class="item" action="/dashboard/contacts/edit" method="post">
    
          <%- include("./partials/posts/edit"); %>
      
        </form>
      
        <br>

        <form class="item" action="/dashboard/contacts" method="post">

          <%- include("./partials/posts/generic"); %>

        </form>
</div>

<hr>
