<!-- Header ejs -->
<%- include('./partials/header',{headerTitle:'LATEST RESEARCH'})%>
<br><br><br><br><br>
<%- include("./partials/notes/carausalNotes"); %>

<br>
<%- include ("./partials/carausal",{files:files,renderedPage:'latest-research'}) %>
<br>


<form class="item" action="/dashboard/latest-research/uploadCarausalImages" method="post" enctype="multipart/form-data">
  <%- include("./partials/posts/uploadCarausalImages",{name:'latestResearchImages'}); %>
</form>
<hr>

<%- include("./partials/notes/noteDetails"); %>

<br>

<div class="container">
  <% if(newItems) { %>

  <% newItems.forEach((item, i) => { %>

  <form class="item" action="/dashboard/latest-research/delete" method="post">
    <%- include("./partials/posts/delete",{item:item}); %>
  </form>


  <!-- Modal -->
  <form class="item" action="/dashboard/latest-research/edit" method="post">
    <%- include("./partials/posts/edit"); %>
  </form>

  <br>

  <% }); %>
  <% } else { %>
    <div class="container text-center">
      <h5>No notes to show. Enter subject and details to show up on the screen.</h5>
    </div>
  <% } %>

  <form class="item" action="/dashboard/latest-research" method="post">
    <%- include("./partials/posts/generic"); %>
  </form>
</div>

<hr>
