<!-- Header ejs -->
<%- include('./partials/header',{headerTitle:'RESEARCH INTEREST'})%>
<br><br><br><br><br>
<%- include("./partials/notes/carausalNotes"); %>

<br>
<%- include ("./partials/carausal",{files:files,renderedPage:'researchInterest'}) %>
<br>


<form class="item" action="/dashboard/researchInterest/uploadCarausalImages" method="post" enctype="multipart/form-data">
  <%- include("./partials/posts/uploadCarausalImages",{name:'researchInterestImages'}); %>
</form>
<hr>

<%- include("./partials/notes/noteDetails"); %>

<br>

<div class="container">
  <div class="all-posts-container">
    <% if(newItems) { %>

      <% newItems.forEach((item, i) => { %>
    
      <form class="item" action="/dashboard/researchInterest/delete" method="post">
        <%- include("./partials/posts/delete",{item:item}); %>
      </form>
    
      <% }); %>
      <% } else { %>
        <div class="container text-center">
          <h5>No notes to show. Enter subject and details to show up on the screen.</h5>
        </div>
      <% } %>
  </div>

        <!-- Modal -->
        <form class="item" action="/dashboard/researchInterest/edit" method="post">
          <%- include("./partials/posts/edit"); %>
        </form>
      
        <br>

        <form class="item" action="/dashboard/researchInterest" method="post">
          <%- include("./partials/posts/generic"); %>
        </form>
</div>

<hr>
